.game-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

img {
  padding: 20px;
}

button {
  margin: 10px;
}

.error {
  color: red;
  padding-top: 5px;
}